footer
{
    text-align: center;
}

.bg-image
{
    background-image: url('_images/header/Logo-md.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

#cuerpo
{
    background: #ffceeb;
}

p
{
    font-family: 'Courier New', Courier, monospace;
    color: #0cf0d9;
}